.login_dlg {
  text-align: center;
  align-content: center;
  border: solid 1px #ccc;
  border-radius: .5rem;
  display: block;
  margin: 10% 35% 35%;
  padding: 10px;
}


.primary_back {
  color: white;
  background-color: #3f51b5;

}
